p{
    color: rgba(151, 147, 147, 0.945);
    font-size: 1.1em;
}
.icons img{
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
}
.icons img:hover{
    opacity: 1;
}
.aboutCont{
    height: 75vh;
}

.nav-item {
    color: rgba(151, 147, 147, 0.945);

    font-size: 18px;
    font-weight: bold;
    transition: color 1s ease;
  }
  
  .nav-item.active {
    color: white;
  }
  .navText {
    color: gray; /* or your default color */
    transition: color 0.3s ease;
  }
  
  .navText.active-nav {
    color: white;
  }
  
  /* Optional: Add hover effects */
  .navText:hover {
    color: white;
    cursor: pointer;
  }